<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">TOP</a>
      <a class="title-logo">一覧</a>
    </header>
    <div class="top-wrapper">
      <div class="top-detail">
        <h1 class="title">一覧</h1>
        <a href="/index" class="index-button">闘争精神</a>
        <a href="/guard" class="index-button">先導者</a>
        <a href="/game" class="index-button">懐怪物</a>
      </div>
    </div>
  </body>
</html>