<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">TOP</a>
      <a href="/list" class="header-logo">一覧</a>
      <a class="title1-logo">先導者</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>リスト作成</h1>
      </div>
      <div class="form-wrapper">
        <form action="/create1" method="post">
          名前：<input type="text" name="guardName"><br>
          詳細：<textarea type="text" name="guardDetails" cols="90" rows="10"></textarea><br>
          枚数：<input type="number" name="guardStock" min="1" max="4">
          <input type="submit" value="作成する">
        </form>
      </div>
      <a href="/guard" class="cancel-button"></span>もどる</a>
    </div>
  </body>
</html>