<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h1 class="title">コレクション</h1>
        <a href="/list" class="index-button">一覧を見る</a>
      </div>
    </div>
  </body>
</html>